.about__content {
  text-align: center;
  .about__desc {
    margin-bottom: $mb-3;
  }
}
.about__img {
  width: 200px;
  justify-self: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
