.app__content {
  text-align: center;
}
.app__desc {
  margin-bottom: $mb-5;
}
.app__stores {
  margin-bottom: $mb-4;
}
.app__store {
  width: 120px;
  margin: 0 $mb-1;
}
.app__img{
  width: 230px;
  justify-self: center;
}
