.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background: $body-color;
}

.nav {
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background: $body-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: $z-fixed;
    border-radius: 0 0 1rem 1rem;
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    -ms-border-radius: 0 0 1rem 1rem;
    -o-border-radius: 0 0 1rem 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

.nav-item {
  margin-bottom: $mb-2;
}
.nav__link,
.nav__logo,
.nav__toggle {
  color: $text-color;
  font-weight: $font-medium;
  cursor: pointer;
}
.nav__logo:hover {
  color: $primary-color;
}
.nav__link {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
  }
}
.nav__logo {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  top: $header-height;
}
.active-link {
  color: $primary-color;
}
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0.5);
  z-index: $z-tooltip;
  visibility: hidden;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  &:hover {
    background: $primary-color;
  }
}
.scrolltop__icon {
  font-size: 1.8rem;
  color: $body-color;
}
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}
