@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content,
  .about-initial,
  .app__content,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }
  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }
  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 8rem;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: $mb-5;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
    justify-items: center;
  }
  .services__container,
  .menu__container {
    margin-top: $mb-6;
  }
  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }
  .app__store {
    margin: 0 $mb-1 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 500px;
  }
  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}
