.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  .services__content {
    text-align: center;
    .services__img {
      width: 64px;
      height: 64px;
      fill: $primary-color;
      margin-bottom: $mb-2;
    }
    .services__title {
      font-size: $h3-font-size;
      color: $title-color;
      margin-bottom: $mb-1;
    }
    .services__desc {
      padding: 0.5rem;
    }
  }
}
